
<br>
<br>
<br>
<div class="row">
  <div class="col-md-9 col-md-push-3 ">
    Some content
  </div>
  <div class="col-md-3 col-md-pull-9 left-container"> 
    
    <hr>
    <div class="lead">Subscribed</div>
    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
      <li role="presentation"><a href="#">American horror story</a></li>
      <li role="presentation"><a href="#">Forever</a></li>
      <li role="presentation"><a href="#">Gotham</a></li>
    </ul>

    <hr>
    <div class="lead">Tags</div>
    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
      <li role="presentation"><a href="#">Drama</a></li>
      <li role="presentation"><a href="#">Sci-fi</a></li>
      <li role="presentation"><a href="#">Horror</a></li>
    </ul>

  </div>
</div>
  
